//custom button
.btn {
    padding: 20px;
    border-radius: 50%;
    z-index: 10;
    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -43%);
        font-size: 4rem;
        color: var(--primary);
    }
}

.btn.next {
    right: 0;
    transform: translate(50%, -50%);
}

.btn.prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.btn.sizeS {
}

.btn.sizeL {
}
