@mixin dfACenter {
    display: flex;
    align-items: center;
}

@mixin h100p {
    height: 100%;
}

.header {
    @include dfACenter;
    justify-content: space-between;
    width: 100%;
    top: 0;
    max-width: 100%;
    position: fixed;
    height: var(--header-height);
    padding: 12px 36px;
    z-index: 1;
    background-color: var(--white); //header-logo
    &__logo {
        width: 142px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__actions {
        @include h100p;
        @include dfACenter;

        &-btn {
            @include h100p;
        }

        &-menu {
            @include dfACenter;
            justify-content: center;
            @include h100p;
            padding: 0 8px;
            border-radius: 50%;
            margin-left: 12px;
            border: 1px solid transparent;
            transition: border-color 0.2s ease;
            &:hover {
                border-color: var(--border-color);
            }
        }
    }
    &__notifi {
        @include h100p;

        position: relative;
        &-btn {
            padding: 0;
            @include h100p;

            width: 40px;
            justify-content: center;
            margin-right: 16px;
        }

        &-icon {
            font-size: 2.5rem !important;
            color: var(--desc);
        }

        &-amount {
            position: absolute;
            top: -8px;
            right: 6px;
            background-color: var(--fourth);
            padding: 2px 6px;
            font-size: 1.4rem;
            border-radius: 4px;
            color: var(--white);
        }
    }

    &__menu {
        width: 368px;
    }

    // user action
    &__user {
        @include h100p;

        width: 40px;
        display: inline-block;
        &-avatar {
            width: 100%;
        }
    }
}
