.wrapper {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    height: 80px;
}

.job-image {
    width: 80px;
    height: 100%;
    border: 1px solid var(--border-color);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    flex: 1;
    height: 100%;
    padding-left: 12px;
}

.name-job,
.company {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.name-job {
    font-weight: 500;
    margin-bottom: 4px;
}

.conpany {
    font-size: 1.4rem;
    color: var(--text-second-color);
}
