.wrapper {
    margin-top: 18px;
    z-index: -1;
}

.slider-list {
    padding: 0 38px;
}

.slider-item {
    border-radius: 20px;
    object-fit: cover;
    height: 270px;
}

//custom button
.btn {
    padding: 20px !important;
    border-radius: 50%;
    z-index: 10;
    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -43%);
        font-size: 4rem !important;
        color: var(--primary) !important;
    }
}

.next {
    right: 0 !important;
    transform: translate(50%, -50%) !important;
}

.prev {
    left: 0 !important;
    transform: translate(-50%, -50%) !important;
}
